.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.row {
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}                                                                                                                                                                                 //
